div {
    background-color: rgb(92, 118, 133);
    width: 500px;
    border: 1px solid rgb(101, 127, 134);
    padding: 50px;
    margin: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(24, 24, 73);
}
b {
    color:rgb(184, 221, 184) ;
}
body {
    background-color: rgb(161, 186, 207);
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align:left;
}